@font-face {
    font-family: pierSansRegular;
    src: url(./Fonts/PierSans-Regular.otf);
}

@font-face {
    font-family: pierSansBold;
    src: url(./Fonts/PierSans-Bold.otf);
}

#root, #app{
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

/* whole body structure */
*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #484848;
}

p, button, a, h1, h2, h3, h4, h5, h6{
    font-family: pierSansRegular, sans-serif;
    text-rendering: optimizeLegibility;
}

a{
    text-decoration: none;
    color: black;
}

input:focus::placeholder {
    color: transparent;
}

#gameJoinInputContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#gameIDInputTitleText{
    color: #B3B8BC;
    font-size: 23px;
    font-family: pierSansBold;
    margin-bottom: 10px;
}