.diceRollGameRegisterLogo{
    font-size: 40px;
    padding-top: 20px;
    font-family: pierSansBold;
    color: #E5C451;
    text-align: center;
}

.registrationContainer{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    background-color: #333333;
    padding: 10px 50px 20px 50px;
}

#loginInputsContainer{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.registerInput{
    height: 40px;
    background-color: #484848;
    border: none;
    outline: none;
    padding-left: 10px;
    font-family: pierSansRegular;
    font-size: 20px;
    color: #B3B8BC;
}

.registerInputPassword{
    font-family: sans-serif;
}

.registerInput::placeholder{
    color: #333333;
    font-family: pierSansBold;
}

#usernameInput, #userPassword, #confirmPassword{
    margin-bottom: 30px;
}

#loginPassword{
    margin-top: 30px;
}

.erroTextCenter{
    text-align: center;
    position: relative;
    bottom: 20px;
}

.registerTabTitle{
    text-align: center;
    color: #46BCDE;
    font-size: 30px;
    font-family: pierSansBold;
    margin-bottom: 60px;
}

.registerButtonContainer{
    margin-top: 50px;
}

.buttonYellow{
    background-color: #E5C451;
}

.errorText{
    color: #E94F64;
    font-family: pierSansLight;
    margin-bottom: 3px;
}


.errorHide, .registrationContainerHide{
    display: none;
}

.registerTextContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.registerTextTitle{
    color: #B3B8BC;
    font-size: 18px;
}

.registerTextLink{
    color: #46BCDE;
    margin-top: 10px;
    cursor: pointer;
}

.profileImageSelectHide{
    display: none;
}

.profileImageSelectShow{
    display: block;
}

#profileImageSelect{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#currentlySelectedText{
    font-size: 20px;
    padding-top: 20px;
    font-family: pierSansRegular;
    color: #E5C451;
    text-align: center;
}

#profileImageActive{
    width: 150px;
    margin-top: 20px;
}

#profileImagesDisplayContainer{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    height: 50%;
    width: 630px;
}

.profileImagePreviewContainer{
    /* background-color: #B3B8BC; */
    width: 150px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
    height: 150px;
    border-radius: 360px;
    cursor: pointer;
    transition: all 0.1s;
}

.profileImagePreviewContainer img {
    border: 5px solid #e5c55100;
    border-radius: 360px;
}

.profileImagePreviewContainerActive{
    background-color: #b3b8bc00;
    width: 150px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
    height: 150px;
    border-radius: 360px;
    cursor: pointer;
    transition: all 0.1s;
}

.profileImagePreviewContainerActive img {
    border: 5px solid #E5C451;
    transition: all 0.05s;
    border-radius: 360px;
}

.profileImagePreview{
    width: 150px;
    height: 150px;
}

.registerButtonFinishedContainer{
    margin-top: 20px;
}

.copyrightText{
    text-align: center;
    position: relative;
    top: 50px;
    color: #686868;
}